{%include inc_head%}
<!-- contact.htm -->

<div class="main">

<div class="left">
<h4>Contact:</h4>
<ul>
	<li><a href="http://www.google.com/talk/service/badge/Start?tk=z01q6amlqpr6h49lk38ibef8u68fcsv1h0ofse42167t7vccssff46988l96fkabj9o2icjl1s2ve0u2qq2vfpl5hhjv3r0kdu1s8shfdcvqk4pntb7vo7rp77nrku69v1mlffa6tl3m61hqang9v7464m84nf1tg90f35hei" title="Chat with WebTablet" target="contact">
<img _style="width:18px;height:18px;_border:0 none;_margin:0;padding:0 2px 0 0;"
src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqpr6h49lk38ibef8u68fcsv1h0ofse42167t7vccssff46988l96fkabj9o2icjl1s2ve0u2qq2vfpl5hhjv3r0kdu1s8shfdcvqk4pntb7vo7rp77nrku69v1mlffa6tl3m61hqang9v7464m84nf1tg90f35hei&amp;w=16&amp;h=16" alt="gtalk" height="16" width="16"/>&nbsp;gTalk</a>
	</li>
	<li><a href="http://twitter.com/webtablet"><img src="{{imgdir}}twitter-16x16.png" alt="twitter" width="16" height="16"/>&nbsp;Twitter</a></li>
</ul>
<hr/>
<h4>Related:</h4>
<ul>
	<li><a href="http://www.jotform.com" target="_blank">JotForm.com</a></li>
</ul>
<p/>
<hr/>
<small><i>Upload Limit 1 mb</i></small>
</div>

<div class="right_embed">
<iframe name="contact" id="contact" src="http://www.jotform.com/form/92033413284" scrolling="yes">
<a href="http://www.jotform.com/form/92033413284">http://www.jotform.com/form/92033413284</a>
</iframe>
</div>

</div>

{%include inc_foot%}
