<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head profile="http://www.w3.org/2005/10/profile">
	<title>{{app_title}} :: {{meta.title}}</title>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"/>
	<meta name="robots" content="index,follow,noarchive"/>
	<meta name="keywords" content="{{app_name}} {{app_title}} {{meta.name}} {{meta.title}}"/>
	<!-- link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{imgdir}}favicon.ico"/ -->
	<link rel="icon" type="image/png" href="{{meta.img}}"/>
	<base href="{{base_href}}"/>

<script type="text/javascript">
/* <![CDATA[ */
/* ]]> */
</script>

<style type="text/css">
body	{ font-family:sans-serif;_font-size:1.1em;background:#DFDFDF;margin:0;min-width:{{width}}px;min-height:{{main_height}}px; }
img	{ border:0; }

a	{ color:#99CCFF; }
a:hover,div.icon:hover	{ color:#990000;background-color:#FFCC00; }

.icon	{ color:#00CCFF;text-decoration:none; }
div.icon {
	float:left;width:17%;height:51px;font-size:20px;overflow:hidden;margin:15px 0 0 15px;padding:2px;
	background:rgba(191,191,191,0.3);border:1px outset #333333;-moz-border-radius:10px;
}
img.icon	{ float:left;width:48px;height:48px;margin-right:4px;border:1px outset #333333;vertical-align:top;-moz-border-radius:8px; }
/* div.icon:hover	{ border:1px outset #FFFF00; } */

br,p	{ clear:both; }
hr	{ width:{{width}}px;height:1px;text-align:left;margin:2px auto 2px 0;clear:both; }
h1,h2,h3,h4	{ margin:2px 0;text-shadow:2px 1px 2px #003366; }
h1	{ font-size:25px; }
h2	{ font-size:21px; }
h3	{ font-size:18px; }
h4	{ font-size:16px; }
ul	{ margin:6px 0;padding:0 0 0 22px; }

div,span	{ overflow:hidden;-moz-border-radius:6px;margin:2px; }
div.full	{ width:{{width}}px;clear:both; }
div.menu	{ width:{{width}}px;_height:32px;border:0;color:#99CCFF;
	/* background-color:#333333; */
	background:{{main_bg_color}} url({{main_bg_image}}) no-repeat top center;
}
a.menu		{ font-size:60%;color:#6699CC;margin:0 1px;padding:0 1px;border:1px solid;text-decoration:none;-moz-border-radius:8px; }
span.left	{ float:left;white-space:nowrap; }
span.right	{ float:right;text-align:right;white-space:nowrap; }

.main		{ color:#00CCFF;_text-decoration:none; }
div.main	{ position:relative;width:{{width}}px;min-height:{{main_height}}px;
	color:{{main_color}};
	/* background-color:{{main_bg_color}};background-image:url({{main_bg_image}});background-repeat:no-repeat;background-position:center center; */
	background:{{main_bg_color}} url({{main_bg_image}}) no-repeat top center;
	/* filter:alpha(opacity=50);opacity:0.50; */
}

div.left	{ float:left;width:24%;_min-width:140px;min-height:{{main_height}}px;position:relative; }
div.right	{ float:right;width:74%;min-width:{{main_height}}px;min-height:{{main_height}}px;position:relative; }
div.right_embed	{ float:right;width:74%;min-width:{{main_height}}px;min-height:{{main_height}}px;position:relative;
	_text-align:center;_display:table-cell;_vertical-align:middle;_background-color:#CFCFCF;
	border:2px groove #DFDFDF;-moz-border-radius:8px;
	/* filter:alpha(opacity=75);opacity:0.75; */
	background:rgba(16,16,16,0.5);
}
iframe,embed	{ width:100%;height:{{main_height}}px;_border:0;-moz-border-radius:8px;_overflow:scroll;
	/* filter:alpha(opacity=100);opacity:1.0; */
	/* background: rgba(0, 0, 0, 0.6); */
}
/* background-image:url({{imgdir}}loading-bg-319x305.gif);background-repeat:no-repeat;background-position:top center; */


</style> 
</head>
<body>

<div class="menu">
<span class="left">
<h1><a href="/" target="_top" title="{{app_name}}" class="menu"><img src="{{meta.img}}" width="24" height="24" alt="{{meta.name}}" style="_background-color:#6699CC;border:1px outset;vertical-align:top;margin:0 2px 0 0;-moz-border-radius:6px;"/>{{meta.name}}</a>
{{meta.title}}</h1>
</span>
<span class="right">
{%for item in menu%}<a class="menu" href="{{item.url}}" title="{{item.title}}">{{item.name}}</a>{%endfor%}
</span>
</div>
