<!-- foot.htm -->
<div class="menu" style="font-size:10px;">

<span class="left">
[{{login_html}}] {%now "D, Y-m-d H:i"%}</i>
</span>

<span class="right">
[ <a href="http://freedns.afraid.org/domain/registry/?q=webtablet">DNS</a> by <a href="http://freedns.afraid.org/">freedns.afraid.org</a>
| <a href="http://webtablet.eu.org">Domain</a> by <a href="http://eu.org/" target="_blank">eu.org</a>
| <a href="http://webtablet.tk">Domain</a> by <a href="http://my.dot.tk/cgi-bin/amb/landing.dottk?nr=295038::7800112::4" target="_blank">dot.tk</a>
| Host by <a href="https://appengine.google.com/dashboard?&app_id=webtablet" target="_blank">AppEngine</a>
]
</span>
</div>

<script type="text/javascript">
/* <![CDATA[ */
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9671389-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();
/* ]]> */
</script>

</body>
</html>
