{%include inc_head%}
<!-- loc.htm -->

<div class="main">

<div class="left">
<h4>Geo Tracker:</h4>
<ul>
	<li>User: SimCtr</li>
	<li>History: 1 Months</li>
	<li>Login: {{login_html}}</li>
</ul>
<hr/>
<h4>Related:</h4>
<ul>
	<li><a href="http://mapme.at" target="_blank">MapMe.at</a></li>
	<li><a href="http://fireeagle.yahoo.com" target="_blank">FireEagle</a></li>
</ul>
</div>

<div class="right_embed">
<iframe scrolling="no" src="http://mapme.at/api/export.html?usernames=simctr&mode=since&since=1%20months%20ago">
<a href="http://mapme.at/api/export.html?usernames=">http://mapme.at/api/export.html?usernames=</a>
</iframe>
</div>

</div>

{%include inc_foot%}
