{%include inc_head%}
<!-- maps.htm -->
<script type="text/javascript">
function sel(url) {
	document.getElementById("boxnet").src=url;
	return false;
}
</script>

<div class="main">

<div class="left">
Hi-Res Imagery for Hikers.<br/>
Files hosted at box.net
<hr/>
<h4><a href="http://www.box.net/static/flash/box_explorer.swf?widget_hash=d2xyodqkqm&v=1" onclick="return sel(this.href);">Crete, Greece</a>:</h4>
<ul>
	<li><a
		href="http://www.box.net/static/flash/box_explorer.swf?widget_hash=in64slc2rr"
		onclick="return sel(this.href);">Coast S&amp;E 1600px</a></li>
	<li><a
		href="http://www.box.net/static/flash/box_explorer.swf?widget_hash=in64slc2rr"
		onclick="return sel(this.href);">Coast S&amp;E 2400px</a></li>
	<li><a href="http://www.box.net/static/flash/box_explorer.swf?widget_hash=7riz11loie"
		onclick="return sel(this.href);">Coast S&amp;E 4800px</a></li>
	<li><a href=""></a></li>
</ul>
</div>

<div class="right_embed">
<embed name="boxnet" id="boxnet" wmode="transparent" type="application/x-shockwave-flash"
src="http://www.box.net/static/flash/box_explorer.swf?widget_hash=d2xyodqkqm&v=1"><noscript>
<a href="http://www.box.net/static/flash/box_explorer.swf?widget_hash=d2xyodqkqm&v=1">http://www.box.net/static/flash/box_explorer.swf?widget_hash=d2xyodqkqm&v=1</a>
</noscript></embed>
</div>

</div>
{%include inc_foot%}
