{%include inc_head%}
<!-- music.htm -->
<div class="main">

<div class="left">
<h4>M3U Podcast:</h4>
<ul>
	<li><a href="http://mp3pod.tk" target="_blank"><img src="{{imgdir}}mp3pod-48x48.png" width="16" height="16"/> mp3pod.tk</a></li>
	<li><a href="http://twitter.com/mp3pod" target="_blank"><img src="{{imgdir}}twitter-16x16.png" width="16" height="16"/> @mp3pod</a></li>
	<li><a href="http://feeds.webtablet.eu.org/mp3pod_m3u" _type="text/xml" target="_blank"><img src="{{imgdir}}audio-rss-29x18.png" width="29" height="16"/> M3U Podcast</a>
</ul>
<hr/>
<h4>Blues &amp; Rock:</h4>
<ul>
	<li><a href="http://bluespod.tk" target=_blank"><img src="http://a1.twimg.com/profile_images/482600688/blues-cap_400_bigger.jpg" width="16" height="16"/> bluespod.tk</a></li>
	<li><a href="http://twitter.com/bluespod" target="_blank"><img src="{{imgdir}}twitter-16x16.png" width="16" height="16"/> @bluespod</a></li>
	<li><a href="http://feeds.webtablet.eu.org/m3u_blues_rock" _type="text/xml" target="_blank"><img src="{{imgdir}}audio-rss-29x18.png" width="29" height="16"/> M3U Podcast</a>
</ul>
<hr/>
<h4>Related:</h4>
<ul>
	<li><a href="http://podster.de" target="_blank">podster.de</a></li>
	<li><a href="http://podomatic.com" target="_blank">podomatic.com</a></li>
	<li><a href="http://rockcast.us" target="_blank">rockcast.us</a></li>
</ul>
</div>

<div class="right_embed" _style="min-height:{{main_height}}px;display:table-cell;vertical-align:middle;">
<center>
&nbsp;<br/>
<h2><a href="http://podster.de/view/11093/episodes#start" target="_blank">M3U Aggregator</a></h2>
<iframe src="http://podster.de/listen/11093" name="wimpy" scrolling="no" 
style="width:354px;height:260px;min-height:260px;border:2px groove;-moz-border-radius:8px;">
</iframe>
</center>
</div>

</div>
{%include inc_foot%}
