{%include inc_head%}
<!-- music.htm -->
<div class="main">

<div class="left">
<h4>Playlists:</h4>
<ul>
	<li>List Hidden</li>
	<li>Login: {{login_html}}</li>
	<li><a href="{{mediadir}}blues-folk.m3u" title="M3U Playlist" type="audio/x-mpegurl"><img src="{{imgdir}}m3u-48x48.png" alt="m3u" width="16" height="16"/> M3U: Blues-Folk</a></li>
	<li><a href="{{mediadir}}greek-mystic.m3u" title="M3U Playlist" type="audio/x-mpegurl"><img src="{{imgdir}}m3u-48x48.png" alt="m3u" width="16" height="16"/> M3U: Greek-Mystic</a></li>
	<li><a href="http://www.last.fm/user/webtablet"><img src="{{imgdir}}lastfm-32x32.png" width="16" height="16"> Last.fm</a></li>
	<li>Recently: <a href="http://spreadsheets.google.com/pub?key=tNEu84mSp_2Jwm8bQtF5tdA&single=true&gid=8&output=html">HTML</a>|<a href="http://spreadsheets.google.com/pub?key=tNEu84mSp_2Jwm8bQtF5tdA&single=true&gid=9&output=pdf">PDF</a></li>
</ul>
<hr/>
<h4>MP3 Podcast:</h4>
<ul>
	<li><a href="http://mp3pod.tk" _target="_blank"><img src="{{imgdir}}mp3pod-48x48.png" width="16" height="16"/> mp3pod.tk</a></li>
	<li><a href="http://twitter.com/mp3pod" _target="_blank"><img src="{{imgdir}}twitter-16x16.png" width="16" height="16"/> @mp3pod</a></li>
	<li><a href="http://feeds.webtablet.eu.org/podomatic_list?format=xml" type="application/rss+xml" _target="_blank"><img src="{{imgdir}}audio-rss-29x18.png" width="29" height="16"/> mp3pod</a>
</ul>
<hr/>
<h4>Related</h4>
<ul>
</ul>
</div>

<div class="right_embed">
<center>
<p>
<img src="{{imgdir}}warn-48x48.png" width="48" height="48"/>
<h2>Restricted Area</h2>
</p>
<p>
Please Login
<h3>&gt; {{login_html}} &lt;</h3>
</p>
</center>
<img style="position:absolute;right:4px;bottom:4px;" src="{{imgdir}}music-dont-stop-ani-99x56.gif" width="99" height="56"/>
</div>

</div>
{%include inc_foot%}
