{%include inc_head%}
<!-- n800.htm -->

<div class="main">

<div class="left">
Files hosted at box.net.<br/>
Content only useful for installation of Maemo5 (Diablo) Firmware into Nokia N800 and N810.
<hr/>
<h4>Links:</h4>
<ul>
	<li><a href="http://europe.nokia.com/support/product-support/nokia-n800-internet-tablet">Nokia EU</a></li>
	<li><a href="http://maemo.org/">maemo.org</a></li>
	<li><a href="http://n800.de/">n800.de</a></li>
	<li><a href="http://n800wiki.de/">n800wiki.de</a></li>
	<li><a href="http://de.wikipedia.org/wiki/Nokia_N800">Wikipedia (DE)</a></li>
	<li><a href="http://en.wikipedia.org/wiki/Nokia_N800">Wikipedia (EN)</a></li>
</ul>
<h4>Related:</h4>
<ul>
	<li><a href="http://picasaweb.google.com/data/feed/base/user/thoughtfix/albumid/5024755709766745489?alt=rss&kind=photo&hl=">N800 Dissection</a></li>
</ul>
</div>

<div class="right_embed">
<embed wmode="transparent" type="application/x-shockwave-flash"
	src="http://www.box.net//static/flash/box_explorer.swf?widget_hash=71vey23x9u&v=1"><noscript>
<a href="http://www.box.net//static/flash/box_explorer.swf?widget_hash=71vey23x9u&v=1">http://www.box.net//static/flash/box_explorer.swf?widget_hash=71vey23x9u&v=1</a>
</noscript></embed>
</div>

</div>

{%include inc_foot%}
