{%include inc_head%}
<!-- photo.htm -->
<div class="main">

<div class="left">
<h4>View Photos:</h4>
<ul>
	<li><a href="http://picasaweb.google.com/webtablet" title="Picasa Web Album" target="_blank"><img src="{{imgdir}}picasa-48x48.png" alt="picasa" width="16" height="16"/> PicasaWeb</a></li>
</ul>
<hr/>
</div>

<div class="right_embed">
<embed type="application/x-shockwave-flash" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" width="600" height="400" flashvars="host=picasaweb.google.com&captions=1&hl=en_US&feat=flashalbum&RGB=0x000000&feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2Fwebtablet%3Falt%3Drss%26kind%3Dphoto%26access%3Dpublic%26psc%3DF%26q%26uname%3Dwebtablet" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
</div>

</div>
{%include inc_foot%}
