{%include inc_head%}
<!-- test.htm -->
<div class ="main"

<div class="left">
<ul>
	<li>Login:&nbsp;{{login_html}}</li>
	<li>User:&nbsp;<a href="mailto:{{login_user}}">{{login_user}}</a></li>
	<li>Admin:&nbsp;{{login_admin}}</li>
</ul>
</div>

<div class="right"
style="position:relative;text-align:center;display:height:400px;table-cell;vertical-align:middle;"
_style="_position:fixed;_top:0;_left:0;width:100%;height:100%;margin:auto;padding:auto;text-align:center;_display:table-cell;vertical-align:middle;"
>

<img _valign="middle" src="{{imgdir}}test-768x576.jpg" alt="test" width="384" height=""
	style="_display:block;margin:8px 0;border:2px ridge;"/>
<!-- img _valign="middle" src="{{imgdir}}test-768x576.jpg" alt="test" width="432" height="" style="display:block;border:2px groove;"/ -->

</div>

</div>
{%include inc_foot%}
