{%include inc_head%}
<!-- thankyou.htm -->

<div class="main">

<div class="left">
</div>

<div class="right_embed" style="text-align:center;vertical-align:center;background-color:#006600;">
<p>&nbsp;</p>
<h1>Form submitted - Thank you.</h1>
<p>&nbsp;</p>
<h2>&gt; <a href="/" target="_top">Continue</a> &lt;</h2>
<p>&nbsp;</p>
</div>

</div>

{%include inc_foot%}
